<div class="container w-50 mt-5 p-5 border">
    <%= simple_form_for @list do |f| %>
    <%= link_to "<--", lists_path %><br>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
    <% end %>
</div>